ul.productList {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;

   li {
    width: 300px;
    margin: 40px;
    height: fit-content;

  }

}
