.banner {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  font-size: 2rem;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
  a  {
    text-decoration: none;
  }

  h1 {
    font-size: 3rem;
  }

  ul {
    display: flex;
    padding: 0;

    li {
      list-style: none;
      margin-left: 1rem;
    }
  }

    button {
      padding-top: 5px;
    }

    .box{
      width: 99%;
      box-shadow: 10px 10px 5px #888888;
      padding: 10px;
      padding-bottom: 20px;
    }

    .dropdown{
      box-shadow: 10px 10px 5px #888888;
      background-color: green;
      border: 1px solid black;
      width: 24%;
      list-style: none;;
    }
}
