.banner {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 2rem;

  a  {
    text-decoration: none;
  }

  h1 {
    font-size: 3rem;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      margin-left: 20px;
    }

    button {
      margin-left: 20px;
    }
  }
}
